body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-colour {
    color: orange;
}

.flexible {
    display: flex;
    margin: 100px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2%;
}

.box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#box-left {
    border-left: 7px solid tomato;

}

#box-right {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}